* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.interface {
    width: 100%;
    height: 250px; /* 10 px less than what the canvas leaves us */
    display: flex;
    justify-content: center;
    align-items: center; /* vertical align*/
}

.consoles-container {
    border: 1px solid white;
    padding: 15px;
}

.interface-top {
    height: 80px;
    width: 690px;
    display: flex;
    padding-bottom: 10px;
}

.chat {
    overflow-y: scroll;
    height: 80px;
    width: 690px;
    color: #fff;
    position: relative;
    align-self: flex-end;
}

.interface-bottom {
    display: flex;
    flex-direction: row;
}

.console {
    background: transparent no-repeat;
    background-position: top;
    background-image: url("../images/uipack-rpg/PNG/buttonLong_blue_pressed_bigger.png");
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    outline: none;
    font-size: 1.25em;
    display: flex;
    padding-top: 10px;
    margin: 2px;
    width: 300px;
    background-size: 100% 100px; /* width and height*/
    flex-direction: column; /* for text inside (entity info) */
    align-items: center;
    text-align: center;
}

.entity-info {
    display: flex;
}

.console-center {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 1em;
    border: 0px;
    background: transparent no-repeat;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    outline: none;
    opacity: 90%;
    margin: 2px;
}

.button:hover {
    opacity: 100%;
}

.standard {
    background-image: url("../images/uipack-rpg/PNG/buttonLong_blue.png");
    width: 190px;
    height: 49px;
}

.standard:active {
    background-image: url("../images/uipack-rpg/PNG/buttonLong_blue_pressed.png");
    height: 45px;
}

.action-container {
    background-image: url("../images/uipack-rpg/PNG/buttonSquare_blue.png");
    width: 45px;
    height: 49px;
}

.action-container:active {
    background-image: url("../images/uipack-rpg/PNG/buttonSquare_blue_pressed.png");
    width: 45px;
    height: 45px;
}

.action {
    background: transparent no-repeat;
    background-position-x: center;
    background-position-y: 5px;
    width: 45px;
    height: 49px;
    text-indent: -99999px;
}
